// Colors
$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;

// Font
$default-font-size: 1.6rem;
$default-font: "Roboto", sans-serif;
$heading-font: "Cinzel", serif;
$filmWorld-default-font: "Grenze Gotisch", cursive;
$cinemaWorld-default-font: "Rowdies", cursive;

// Flex Grid
$grid-width: 140rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
